[package]
name = "cctp-rs"
version = "0.3.0"
edition = "2021"
authors = ["Joseph Livesey <joseph@semiotic.ai>"]
categories = ["finance", "api-bindings"]
description = "Rust SDK for CCTP"
homepage = "https://crates.io/crates/cctp-rs"
keywords = ["defi", "ethereum", "web3", "blockchain", "sdk"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/semiotic-ai/cctp-rs"

[dependencies]
alloy-chains = "0.2.5"
alloy-contract = { version = "1.0.21", default-features = false }
alloy-dyn-abi = { version = "1.2.1", default-features = false }
alloy-json-rpc = { version = "1.0.21", default-features = false }
alloy-network = { version = "1.0.20", default-features = false }
alloy-primitives = { version = "1.2.1", default-features = false, features = [
    "std",
    "rlp",
] }
alloy-provider = { version = "1.0.21", default-features = false, features = [
    "anvil-node",
    "reqwest",
] }
alloy-rpc-types = "1.0.21"
alloy-sol-types = { version = "1.2.1", features = ["json"] }
alloy-transport = { version = "1.0.21", default-features = false }
bon = "3.6.4"
reqwest = { version = "0.12.22", features = ["json"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
thiserror = "2.0.12"
tracing = "0.1.41"

[dev-dependencies]
rstest = "0.25"
tokio = { version = "1.0", features = ["test-util", "macros", "rt-multi-thread"] }
tracing-subscriber = "0.3"
